{% extends 'base.html' %}

{% block head%}
<title>Quiz</title>
<link rel="stylesheet" href= "/static/css/advise.css">
{%endblock%}

{% block body%}
<div class="container">
    <h1>As an Aggressive Risk-taker you should...</h1>
    <div class="tip">1</div>
    <p>To save money as a student in London, you should take advantage of student discounts, compare different transportation and accommodation options, and budget your meals and trips carefully.</p>
    <div class="tip">2</div>
    <p>You can have fun and socialize with friends on a low budget by hosting potlucks, joining free events and activities, and finding drink specials and happy hours.</p>
    <div class="tip">3</div>
    <p>You should always show your student ID and ask for student discounts when shopping, eating, or traveling, and sign up for student discount programs or apps to get more exclusive deals and promotions.</p>
</div>
{%endblock%}