{% extends 'character.html' %}

{% block details %}
<div class="header">
    <h1>AMY SANTIAGO</h1>
  </div>
  <h2>You are a moderately conservative risk-taker!</h2>
  <img src="/static/img/Amy.png" alt="Character Image" class="character-image">
  <div class="description">
    <p>Organised and calculated risk taker and little experience with management</p>
</div>
<button type="submit" onclick= "window.location.href = 'moderately_conservative' ;">
  <div class="arrow">&rarr;</a></div>
</button>
{%endblock%}
