{% extends 'character.html' %}

{% block details %}
<div class="header">
    <h1>CHARLES BOYLE</h1>
  </div>
  <h2>You are a Moderate Risk-Taker!</h2>
  <img src="/static/img/Charles.png" alt="Character Image" class="character-image">
  <div class="description">
    <p>Organised but calculated risk taker depending on the situation with some
        responsibilities</p>
</div>
<button type="submit" onclick= "window.location.href = 'moderately_risk' ;">
  <div class="arrow">&rarr;</a></div>
</button>
{%endblock%}
