{% extends 'base.html' %}

{% block head%}
<title>Quiz</title>
<link rel="stylesheet" href= "/static/css/advise.css">
{%endblock%}

{% block body%}
<div class="container">
    <h1>As a Conservative Risk-taker you should...</h1>
    <div class="tip">1</div>
    <p>Be frugal with your money by following a strict budget, monitoring your spending, and cutting out unnecessary costs. This will help you achieve financial stability and avoid debt.
    </p>
    <div class="tip">2</div>
    <p>Be strategic with your involvement in extracurricular activities by choosing those that provide you with valuable skills and opportunities, and that align with your academic and career aspirations. Be selective and avoid wasting money on fees and activites that do not benefit you</p>
    <div class="tip">3</div>
    <p>Be mindful of your entertainment and socializing expenses by setting a modest budget and prioritizing quality over quantity. Look for experiences that give you satisfaction and value for money, rather than spending on things that do not make you happy.</p>
</div>
{%endblock%}