{% extends 'character.html' %}

{% block details %}
<div class="header">
    <h1>GINA LINETTI</h1>
  </div>
  <h2>You are a Moderately Aggresive Risk-Taker!</h2>
  <img src="/static/img/Gina.png" alt="Character Image" class="character-image">
  <div class="description">
    <p>Unorganized but calculated risk taker with little responsibilities but smart
        management.</p>
</div>
<button type="submit" onclick= "window.location.href = 'moderately_aggresive' ;">
  <div class="arrow">&rarr;</a></div>
</button>
{%endblock%}
