{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href= "/static/css/home.css">
<title>Online survey</title>
{% endblock %}

{% block body %}

<div class="bg-image">
    <div class="content">
      <div class="header">B99 Financial Quiz</div>
      <div class="intro">BROOKLYN 99: FIND YOUR RISK TAKING RHYTHM - ARE YOU A DARING DETECTIVE OR A SAFETY FIRST SERGEANT?</div>
      <button type="submit" onclick= "window.location.href = 'intro' ;">
        <div class="arrow">&rarr;</a></div>
      </button>
    </div>
  </div>


{% endblock %}