{% extends 'base.html' %}

{% block head%}
<title>Intro</title>
<link rel="stylesheet" href= "/static/css/intro.css">
{%endblock%}

{% block body%}
<div class="container">
    <div class="left-side">
      <!-- Left side with background image -->
    </div>
    <div class="right-side">
      <h1>The '99 are a group of interesting personalities as police detectives.</h1>
      <p>But how would they fare in the finance world? Who are you most like? Calm and collected like Captain Holt or impulsive and spontaneous like Jake?</p>
      <button type="submit" onclick= "window.location.href = 'question1' ;">Start Quiz</button>
    </div>
  </div>
{%endblock%}