{% extends 'base.html' %}

{% block head%}
<title>Quiz</title>
<link rel="stylesheet" href= "/static/css/advise.css">
{%endblock%}

{% block body%}
<div class="container">
    <h1>As an Moderately Risk-taker you should...</h1>
    <div class="tip">1</div>
    <p>To manage your money as a student, you should spend less than you earn by paying for your essentials, finding affordable housing and transport, and allocating a reasonable amount for fun and travel.
    </p>
    <div class="tip">2</div>
    <p>You should also prepare for the unexpected by saving some money for emergencies and learning more about financial topics to plan for your future.</p>
    <div class="tip">3</div>
    <p>You should also be smart and savvy by focusing on what matters most to you, comparing prices and quality, and taking advantage of student deals and perks to save money.</p>
</div>
{%endblock%}