{% extends 'base.html' %}

{% block head%}
<title>Quiz</title>
<link rel="stylesheet" href= "/static/css/advise.css">
{%endblock%}

{% block body%}
<div class="container">
    <h1>As an Moderately Conservative Risk-taker you should...</h1>
    <div class="tip">1</div>
    <p>Choose wisely when it comes to your accommodation, essential expenses, and transportation. Look for options that offer you peace of mind, reliability, and convenience, even if they may cost a bit more.
    </p>
    <div class="tip">2</div>
    <p>Invest in yourself by participating in activities that match your interests and goals, and that help you grow personally and professionally. Be selective and prioritize quality over quantity.</p>
    <div class="tip">3</div>
    <p>Have fun responsibly by setting a realistic budget for your entertainment and socializing, and by looking for cheap and cheerful ways to enjoy your student life. Plan your trips and travel smartly, keeping in mind your finances and safety.</p>
</div>
{%endblock%}