{% extends 'base.html' %}

{% block head%}
<title>Quiz</title>
<link rel="stylesheet" href= "/static/css/advise.css">
{%endblock%}

{% block body%}
<div class="container">
    <h1>As an Moderately Aggresive Risk-taker you should...</h1>
    <div class="tip">1</div>
    <p>To manage your finances  you should make use of student discounts and perks, look for part-time work or other income opportunities, and connect with other students and locals for financial advice and support.
    </p>
    <div class="tip">2</div>
    <p>You can earn and save money by taking advantage of student discounts and offers, finding part-time work or alternative income sources, and building networks and collaborations with other students and locals.</p>
    <div class="tip">3</div>
    <p>You can save money by using student discounts and benefits, work part-time or explore other income options, and network and cooperate with other students and locals for financial guidance and assistance.</p>
</div>
{%endblock%}